body {
    font-family: Kefa;
    background-image: url('../images/dog-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 50px; 
    margin: 0;
    padding-top: 60px; 
    min-height: 100vh;
}


.top-bar {
    display: flex;
    align-items: center; 
    justify-content: center;  
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.top-bar-logo {
    height: 50px;
    width: auto; 
    margin-left: 5px;
}

.header-container {
    display: flex;
    align-items: center;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 25px 12px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 20px;
}

.input-fields {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    font-size: 0.8em;
    height: 20px;
}

.login-btn {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-family: Krungthep;
    font-size: 20px;
}

.register-link {
    margin-top: 10px;
    font-size: 0.9em;
}

.register-link a {
    color: #0056b3;
}
